a.socialAnchor {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #c4c4cc;
  text-decoration: none;

  &:focus {
    filter: brightness(0.8);
  }

  svg {
    margin-right: 8px;
  }
}
